.popup__input {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

@media (max-width: 517px) {
  .popup__input {
    margin-bottom: 8px;
    font-size: 12px;
  }

  .popup__input:last-of-type {
    margin-bottom: 36px;
  }
}