@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__info-top/profile__info-top.css);
@import url(./__title/profile__title.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__info-bottom/profile__info-bottom.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__add-button/profile__add-button.css);

.profile {
  display: grid;
  grid-template-columns: fit-content(120px) minmax(100px, 550px) fit-content(150px);
  align-items: center;
  gap: 30px;
  margin-bottom: 51px;
}

@media (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 36px;
  }
}
