.button_action_edit::after {
  content: '';
  background: url(../../../images/edit-button.svg) no-repeat center center;
  background-size: 10px 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: 5%;
}

@media (max-width: 425px) {
  .button_action_edit::after {
    background-size: 7.5px 7.5px;
  }
}