@import url(./__photo/element__photo.css);
@import url(./__panel/element__panel.css);
@import url(./__title/element__title.css);
@import url(./__like/element__like.css);
@import url(./__delete/element__delete.css);

.element {
  position: relative;
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
  overflow: hidden;
}
